{% extends "templates/base.html.twig" %}
{% block title %}
	Connexion
{% endblock %}

{% block body %}

	<!-- Page Header -->
	<header class="masthead" style="background-image: url('public/images/login.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>
							Connexion
						</h1>

					</div>
				</div>
			</div>
		</div>
	</header>


	<!--Corps -->
	<div class="container">
		<h3 class="text-center mb-5"></h3>
		<div class="row">
			<div class="col-md-6 mx-auto d-block bg-light p-5">
				<form class="form-group" method="POST">
					{% if session.message %}
						<p class="bg-{{session.type}} p-3">{{session.message}}</p>
						<pre>
							{{ dump(session.type) }}
						</pre>
					{% endif %}
					<div class="form-group">
						<label for="email">Email</label>
						<input name="email" type="email" class="form-control" placeholder="Saisissez votre email..." required>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input name="hash" type="password" class="form-control" placeholder="Saisissez un mot de passe.." required>
					</div>

					<input type="hidden" name="login" value="1">
					<button type="submit" class="btn btn-success">Connexion</button>


				</form>
			</div>
		</div>
	</div>


{% endblock %}
